%ul.nav.nav-tabs
  %li{:class => (tab == 'images' ? 'active' : nil)}
    = link_to I18n.t('images'), collection_images_path(@collection_id)
  %li{:class => (tab == 'links' ? 'active' : nil)}
    = link_to I18n.t('links'), collection_links_path(@collection_id)
